{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "loose": true
    }]
  ],
  "comments": false,
  "env": {
    "cjs": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}